{% extends "layout.html" %}
{% block content %}
  <h3 class="About"> About Us:</h3>
  <br>
  <p class="about_header">Just two 20 somethings with some free time and a dream. We dream of building an entirely new note-taking experience. </p>
  <p class="about_body">Today, gathering detailed notes and important academic or work-related information hinges on your ability to organize a heaping pile of text-based information totally on your own. Unfortunately, the current available note-taking technologies fail to make the process and end layout of a detailed note system intuitive and systematic to the end user. Our app will help you efficiently and intuitively manage your works in a way that makes sense to you. Notes should work the way your brain works: relationally. We will implement a linked mapping system for connecting key concepts and ideas related to specific topics in your work. When you encounter a concept in your notes that requires a deeper dive of understanding simply link that word or phrase to a new note for easy access.
  </p>
  <p class="about_fancy">Make note-taking simpler with MindMap.</p>
  

  <h3> Contact: your mom</h3>
{% endblock %}
